.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    position: relative;
    text-align: center;
  }

  .wrapper:hover img {
    opacity: 0.5;
  }

  img {
    max-width: 200px;
    max-height: 350px;
  }